.projects {
  /* background: rgb(221, 67, 67); */
  padding-top: 1rem;
  position: relative;
}

.content h1 {
  color: #9a8c98;
}
.content h3 {
  color: #E5E5E5;
}

.content span {
  color: #c9ada7;
  font-weight: bold;
}

.title {
  color: #f2e9e4;
}

.content a {
  color: #fca311;
  font-size: large;

}

.ant-image {
  left: 15%;
  height: 50vh;
  width: 54vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* z-index: -3; */
}

.preview {
  height: 50vh;
  /* width: 59vw; */
  width: 54vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.417);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 3;
  font-weight: bold;
}

.preview:hover {
  opacity: 1;
}

.ant-modal-content {
  width: 45vw;
  text-align: center;
  border-radius: 7%;
  background: #4a4e69;
}


.ant-modal {
  margin: 0;
  top: 0;
  left: 27%;
  bottom: 30%;
}

.anticon svg {
  display: none;
}

.video {
  width: 100%;
}

.slick-dots li {
  background: #fca311;
  height: 0;
  border-radius: 50px;
}
