.about {
  padding-top: 7rem;
  color: #fca311;
  font: italic bold 2em "Fira Sans", serif;
  text-align: center;
}

.about h1 {
  color: #fca311;
  font-weight: bold;
}

.about p {
  margin: auto;
  width: 40rem;
  word-wrap: break-word;
}

@media only screen and (max-width: 600px) {
  .about {
    padding-top: 1rem;
    height: 80vh;
  }
  .about p {
    margin: 0;
    width: fit-content;
    padding: 1rem;
    /* background: rgb(201, 82, 82); */
  }

}
