.about {
  width: 100vw;
  height: 70vh;
  /* background: #000; */
  margin: 8rem 0;
  font: italic bold 2em none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about img {
  width: 26rem;
  height: 22rem;
  border-radius: 50rem;
  border: 3px dotted #003566;
}

.about p {
  -webkit-animation: p 0.5s linear both;
  animation: p 0.5s linear both;
  overflow: hidden;
  width: 50rem;
  word-wrap: break-word;
  color: #002e5f;
}

.about b {
  color: transparent;
  font-family: "Fira Sans", serif;
  background-image: linear-gradient(to right, #003566, #ffc300, #ffd60a);
  background-clip: text;
  -webkit-background-clip: text;
}

/* * ----------------------------------------
 * animation slide-left
 * ---------------------------------------- */

@-webkit-keyframes p {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
}

@keyframes p {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
}

@media only screen and (max-width: 600px) {
  .about {
    flex-direction: column-reverse;
    height: fit-content;
    width: fit-content;
    /* background: rgb(201, 82, 82); */
  }

  .about img {
    margin-bottom: 2rem;
    width: 16rem;
    height: 20rem;
  }
  .about p {
    /* margin: 0; */
    width: 90vw;
    word-wrap: break-word;
    /* padding: 1rem; */
    /* background: rgb(201, 82, 82); */
  }

  @keyframes p {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(60px);
      transform: translateX(12px);
    }
  }
}
