.about {
  width: 100vw;
  height: 70vh;
  /* background: #000; */
  margin: 8rem 0;
  font: italic bold 2em none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about img {
  width: 22rem;
  height: 22rem;
  border-radius: 50rem;
  border: 3px dotted #003566;
  transform: scaleX(-1);
}

.about p {
  -webkit-animation: p 0.5s linear both;
  animation: p 0.5s linear both;
  overflow: hidden;
  width: 50rem;
  word-wrap: break-word;
  color: #002e5f;
}

.about b {
  color: transparent;
  font-family: "Fira Sans", serif;
  background-image: linear-gradient(to right, #003566, #ffc300, #ffd60a);
  background-clip: text;
  -webkit-background-clip: text;
}

.resume {
  /* flex-direction: row; */
  position: absolute;
  bottom: -85%;
  left: 9%;
  background-image: linear-gradient(to right, #ffc300, #ffd60a);
  border-radius: 5px;
  padding: 0.4rem;
  color: #002e5f;
}

.resume:hover {
  background: #002e5f;
  color: #ffc300;
  transition: all 0.7s ease-in-out;
}

/* * ----------------------------------------
 * animation slide-left
 * ---------------------------------------- */

@-webkit-keyframes p {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
}

@keyframes p {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
}

@media only screen and (max-width: 600px) {
  .about {
    flex-direction: column-reverse;
    /* display: block; */
    height: fit-content;
    width: fit-content;
  }

  .about img {
    margin-bottom: 2rem;
    width: 16rem;
    height: 20rem;
    /* position: absolute;
    bottom: -12%; */
  }
  .about p {
    width: 90vw;
    word-wrap: break-word;
    margin-top: 5rem;
    /* background: #000; */
  }

  .resume {
    bottom: -77%;
    left: 40%;
  }

  @keyframes p {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(60px);
      transform: translateX(12px);
    }
  }
}
