.contact {
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-align: center;
  color: #9a8c98;
  /* background: #000; */
}

.contact p {
  width: 38rem;
}

.icon {
  font-size: 0.8em;
  margin: auto;
}

.contact a {
  margin-top: 60px;
  color: #fca311;
}
