.App {
  /* background: #1d2639; */
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-prev {
  left: 20%;
  background: #ffc300;
  cursor: pointer;
  border-radius: 50px;
  z-index: 1;
}

.slick-next {
  /* z-index: 3; */
  right: 17%;
  background: #ffc300;
  border-radius: 50px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: #fff;
  outline: none;
  background: #000;
}

.slick-prev::before,
.slick-next::before {
  opacity: 1;
}

.close-bttn {
  font-size: 2rem;
  position: fixed;
  z-index: 4;
  color: #ffc300;
  left: 73%;
  top: 6%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .slick-next {
    right: 3%;
  }

  .slick-prev {
    left: 3%;
  }
}
