.skills {
  text-align: center;
  /* background: #000; */
  margin-top: 20rem;
  height: 100vh;
  font-weight: bolder;
  font-size: 1rem;
}

.icons {
  padding: 3rem 1rem;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  font-size: 2rem;
}

.icons i {
  width: 20rem;
  font-weight: normal;
  padding-bottom: 0.3rem;
  /* background: rgb(239, 213, 213); */
}

.icons .antd {
  fill: #004e98;
}

@media only screen and (max-width: 600px) {
  .icons {
    width: 100vw;
   
    flex-direction: column;
    font-size: 1.3rem;
  }
}
