.nav-bar {
  width: 100vw;
  height: 10vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background: #ffd60a; */
  position: fixed;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 2;
}

.nav-bar h4 {
  font-weight: bold;
  margin: auto;
}

.nav-bar button {
  border: none;
  background: none;
  font-weight: bold;
  cursor: pointer;
}

.ant-menu-horizontal .ant-menu-item-selected a {
  color: #ffc300;
}

.ant-menu-horizontal > .ant-menu-item a {
  font-weight: bold;
  color: #003566;
}

.nav-bar a:hover {
  color: #ffc300;
}

@media only screen and (max-width: 600px) {
  .ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title {
    width: 1rem;
  }
  .ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title::before {
    padding-left: 0rem;
    margin: auto;
    /* background-color: #4a4e69; */
    font-size: large;
    /* content: '  \2026'; */
    /* content: " \2261"; */
    /* content: ' \205D'; */
    color: #000;
  }
}
