.nav-bar {
  width: 60%;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(233, 201, 201); */
  
}

ant-menu-horizontal > .ant-menu-submenu > .ant-menu-submenu-title {
  background: #000;
}

.ant-menu-horizontal > .ant-menu-item a {
  
  color: #9a8c98;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #fca311;
}

a {
  font-weight: bold;
  color: #9a8c98;
}
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #fca311;
}
